
[submodule "external/libsodium"]
	path = external/libsodium
	url = https://github.com/robinlinden/libsodium-cmake.git
[submodule "external/check"]
	path = external/check
	url = https://github.com/libcheck/check
